
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
ul.navbar-nav ul li {
    padding: 5px;
    margin: 0 15px 0 0;
}
p.teaser {
    text-indent: 30px;
}
.info-content ul {
    font-style: none;
}
.info-content ul li strong {
    font-weight: 900;
}
